# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Node
node_modules/

# Docker
*.log
*.pid

# Models
models/
models_data/

# Data
backend/data/raw/*.zst

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
diaintel_backup.sql
